* {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #f8f9fa;

  /* fffdf7; */

  /* f5f3f4; */

  /* e5e5e5; */

  /* f0efeb; */

  /* #f8efe4; */
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: black;

  /* #262626; */

  /* black; */
  min-height: 100px;
  height: auto;
  width: 100%;

  /* position: fixed; */
  top: 0;
}

.nav-bar-element {
  display: flex;
  font-size: x-large;
  color: white;
  background-color: black;

  /* #262626; */

  /* black; */
  padding: 10px;
}

.nav-bar-element:hover {
  color: burlywood;
}

.dropdown {
  position: relative;

  /* display: inline-block; */
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;

  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.input,
.output {
  height: 100px;
  width: 50%;
  margin: 20px;

  /* margin-top: 120px; */
  font-size: 30px;
  padding: 5px;
}

.input-output-group {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  color: burlywood;
}

#color-output {
  height: 90px;
  width: 90px;
  background-color: black;
}

textarea {
  height: auto;
}

.button-group {
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  margin-top: 10px;
  text-align: center;
}

.p {
  text-align: center;
}

.nav-bar .menu-btn {
  display: none;
}

/* .mobile-logo {
  display: none;
  background-color: black;
} */

/* .hamburger {
  display: none;
} */

@media screen and (min-width: 851px) {
  .hamburger {
    display: none !important;
  }

  .mobile-list {
    display: flex !important;
  }

  .main-page-content {
    font-size: x-large;
    font-weight: 500;
    width: 600px;

    /* margin-left: auto;
    margin-right: auto; */
  }
}

@media screen and (max-width: 850px) {
  .input,
  .output {
    /* height: 100px; */
    width: 95%;

    /* margin: 20px; */

    /* margin-top: 120px; */

    /* font-size: 30px; */
  }

  /* .nav-bar-element { */
  .mobile-list {
    /* display: block; */
    display: none;
    padding-left: 40px;
  }

  .nav-bar
  /* ,.dropdown-element */ {
    display: block;
  }

  .nav-bar-element {
    font-size: xx-large;

    /* margin-left: auto !important;
    margin-right: auto !important;
    width: 100px; */

    /* padding: 5px; */
  }

  .mobile-logo {
    display: block;
    color: white;
    padding-left: 40px;
    padding-top: 30px;

    /* margin-left: auto; */

    /* margin-right: auto;
    padding-top: auto;
    margin-bottom: auto; */

    /* padding-bottom: auto; */
  }

  .dropdown-element {
    /* background-color: grey; */
    padding-left: 30px;
    border-color: white;
  }

  .dropdown-content {
    display: none;

    /* position: absolute; */
    position: static;
    background-color: black;
    min-width: 160px;

    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
  }

  .hamburger {
    float: right;

    /* position: relative; */
    display: inline;
    position: absolute;

    /* text-align: center; */
    top: 30px;
    margin-left: 2.5px;

    /* margin-right: 5px !important; */
    font-size: 30px;

    /* margin-right: 30px;
    margin-left: auto;
    margin-bottom: 30; */
    z-index: 100;
  }

  .main-page-content {
    font-size: 24px;
  }
}

i {
  padding-top: 5px;
  padding-left: 5px;
}

/* a {
  text-decoration: none;
} */
.date-input-element {
  /* display: inline-block; */
  margin: 20px 10px;
  width: 90px !important;
  height: 50px !important;
  font-size: 30px !important;
  padding: 5px;
}
