* {
  /* padding: 0; */
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;

  /* background-color: #f8f9fa; */
}

/* *, */
h1,
h2,
li {
  color: white !important;
}

body,
h1,
.input-output-group,
.below-navbar {
  background-color: #005792

  /* white; */

  /* color: white */
}

body {
  font-family: sans-serif;
  font-size: 16px

  /* 16px; */
}

nav {
  background: #222;
  padding: 0 15px;
  font-size: 20px;
}

a {
  color: white;
  text-decoration: none;
}

.menu,
.submenu {
  padding: 0;
  list-style-type: none;
}

.logo {
  font-size: 25px;
  padding: 10px;

  /* 7.5px 10px 7.5px 0; */
}

.item {
  padding: 10px;
}

.item a:hover {
  color: grey;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  display: block;
  padding: 10px;
}

.menu li.subitem a {
  padding: 10px;
}

.toggle {
  order: 1;
  font-size: 20px;
}

.item {
  order: 2;
  width: 100%;
  text-align: center;
  display: none;
}

.active .item {
  display: block;
}

.submenu {
  display: none;
}

.submenu-active .submenu {
  display: block;
}

.has-submenu i {
  font-size: 12px;
}

.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 13px;

  /* line-height: 16px; */
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}

.subitem a {
  padding: 10px;
}

.submenu-active {
  background-color: #111;
  border-radius: 3px;
}

/* Desktop menu */
@media all and (min-width: 1370px) {
  .menu {
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }

  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: auto;

    /* top: 68px */
    background: #111;
  }

  .toggle {
    display: none;
  }

  .submenu-active {
    border-radius: 0;
  }
}

.main-page-content {
  font-size: 24px;

  /* margin: 40px; */
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2 {
  margin-top: 10px;
  text-align: center;
}

.p {
  text-align: center;
}

.input,
.output {
  height: 100px;
  width: 95%;
  margin: 20px;

  /* margin-top: 120px; */
  font-size: 30px;
  padding: 5px;
  border-radius: 10px !important;
  text-align: center;
  border: none;
}

.input-output-group {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #222;

  /* black; */
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
}

.button:hover {
  color: grey;
}

textarea {
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.button-group {
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.date-input-element {
  /* display: inline-block; */
  margin: 20px 10px;
  width: 90px !important;
  height: 50px !important;
  font-size: 30px !important;
  padding: 5px;
}
